/*
 * Made by Maria Luiza
 * 11th of july 2022
 * Gama Academy
 */
 .navigation
 {
   margin: 0;
   padding: 0;
   
   /* fazê-lo parecer decente o suficiente*/
   background: #232323;
   color: #cdcdcd;
   font-family: "Avenir Next", "Avenir", sans-serif;

   @media (max-width:601px) {
    max: width 100%;
   }
 }
 
 #menuToggle
 {
   display: block;
   position: relative;
   top: 50px;
   left: 50px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: tomato;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* esconde */
   z-index: 2; /* e coloque sobre o hambúrguer*/
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Configuração do icone do hamburguer
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;

    /*
  * transição do menu
  */
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
* Transforme todas as fatias de hambúrguer
  * em uma cruz.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * esconde o meio
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Faz o menu ficar posicionado
  * no canto superior da tela
  */ 
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* parar de piscar de texto no navegador */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * Direção que o menu desliza (esquerda)
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }


 /*
 * Made by Lucas Cuerci
 * 04th of july 2022
 * Gama Academy
 */
/* bloco pra esconder a logo da investing */
.bloco-branco {
    background-color: white;
    font-size: 35px;
    width: 100%;
    position: absolute;
    color: white;
}

footer {
    width: 100%;
    height: 100%;
    background-color: #27262c !important;
}

.home-footer {
    color: #9a6aff;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li a {
    color: white;
}

li a:hover {
    color: white;
    text-decoration: underline white;
}

.btn-cookies {
    border-color: black;
}

.box-cookies {
    width: 100%;
    bottom: 0;
}

.ultimo-hr {
    background-color: white;
}

.card {
    border-radius: 50px;
}
